<article>
	{# ... #}

	{% if (node.field_show_author.value === 1 and content.field_author|render) or content.field_published_date|render %}
		<div class="article-publishing-info">
			{% if content.field_published_date|render %}
				<div class="publish-date-wrapper">
					{{ content.field_published_date }}
				</div>
			{% endif %}

			{% if node.field_show_author.value === 1 and content.field_author|render %}
				<div class="author-wrapper">
						{{ content.field_author }}
				</div>
			{% endif %}
		</div>
	{% endif %}

	{# ... #}
</article>
