{% set rendered_published_date = content.field_published_date|render %}
{% set has_published_date = rendered_published_date is real_content %}

{% set rendered_author = content.field_author|render %}
{% set show_author = node.field_show_author.value === 1 %}
{% set has_author = show_author and rendered_author is real_content %}

<article>
  {# ... #}

  {% if has_published_date or has_author %}
    <div class="article-publishing-info">
      {% if has_published_date %}
        <div class="publish-date-wrapper">
          {{ rendered_published_date }}
        </div>
      {% endif %}

      {% if has_author %}
        <div class="author-wrapper">
          {{ rendered_author }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {# ... #}
</article>
