<article>
  {# ... #}

  {% if node.field_show_author.value === 1 and content.field_author|render %}
    <div class="author-wrapper">
      {{ content.field_author }}
    </div>
  {% endif %}

  {# ... #}
</article>
